@import url("../styles.scss");

.movie-img {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.container-radius {
  border-radius: 50%;
}

.container-placement {
  position: relative;
  bottom: 4.2rem;
  left: 1rem;
}

.container-movies {
  height: 25rem;
  width: 100%;
}

.img-size {
  width: 20rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}
