@import url("../styles.scss");

* {
  box-sizing: border-box;
}

.movie-img {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
}

.container-radius {
  border-radius: 50%;
}

.container-placement {
  position: relative;
  bottom: 4.2rem;
  left: 1rem;
}

.container-movies {
  height: 30rem;
  width: 100%;
}

.img-size {
  min-width: 12rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 20px;
}
